html body {
    font-size: 16px;
}

/*Styling footer*/

.footer-content .footer-column {
    padding: 1.2% 1.6% 1.2% 1.2%;
    width: 45%;
    display: inline-block;
}

/*Styling pagination*/

.pagination {
    width: 87.1%;
}

.pagination a {
    padding: 0 9px;
}


/*Styling index page posts*/

.post {
    width: 22.2%;
    margin: 1.2%;
}

div.doubleCol {
    width: 47.3%;
}

.post-image-content,
.post-home-image {
    height: 180px;
}


/*Styling credentials*/

.credentials {
    text-align: right;
    padding-right: 12%;
}

.credentials-br {
    display: none;
}

.footer .credentials {
    text-align: center;
    font-size: 0.75em;
}

.credentials-separator {
    display: inline-block;
}

/*Styling navigation*/

nav.site-navigation {
    padding: 0 0.4% 0 0;
    margin: 19px 1.3% 19px 0.5%;
}

nav.site-navigation>ul>li {
    display: inline-block;
}

nav.site-navigation>ul>li>a {
    font-size: 1.3em;
    padding: 8px 6px;
}

nav.site-navigation>ul>li>ul.submenu {
    display: none;
    position: absolute;
    top: 41px;
    padding: 14px 30px 10px 21px;
    z-index: 10;
    background-color: #222222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.6);
}

.menu-lable {
    display: none;
}

.menu-checkbox {
    display: none;
}

.search_field {
	display: inline-block;
}

.mobile-search {
	display: none;
}

/*Styling logo*/

#header-container {
    margin: 80px 5% 20px 5%;
}

#logo {
    width: 420px;
    height: 110px;
    margin-left: 0;
}

/*Styling comment form*/

.comment-form {
    width: 100%;
}

.post-full-comments-content .comment-form textarea {
    width: 95%;
}

/*Styling sidebar headers*/
.post-sedebar h4 {
    font-size: 1.3em;
}

.post-sedebar {
    display: inline-block;
}

/*Styling post on post page*/

.post-and-comments {
    width: 72%;
    margin-left: 0;
    margin-right: 16px;
}

.post-full-comments {
    margin-left: 20%;
    width: 80%;
}

.post-full-text {
    font-size: 0.75em;
}

.related,
.tags,
.shared {
    display: block;
}

.post-full-attributes-contents {
    float: left;
    width: 196px;
}

.post-full-image-content {
    width: 186px;
    height: 186px;
}

.tags-phone,
.share-phone {
    display: none;
}

a.reply-btn {
    padding: 10px;
}

.comment-image-content {
    width: 64px;
    height: 64px;
}

.comment-text-wrapper {
    margin-left: 90px;
}

.post-full-image {
    width: 186px;
    height: 186px;
}

/*Styling posts results page*/
.post-results .post {
    width: 43.1%;
    margin: 1%;
}
.index-page-content-container .post-results div.doubleCol {
    width: 88%;
}