html body {
    font-size: 36px !important;
}

/*Styling footer*/

.text-in-footer,
.footer-links {
    display: none;
}

.footer-content .footer-column {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}

.footer-header {
    text-align: center;
}


/*Styling pagination*/

.pagination {
    width: 80%;
}

.pagination a {
    padding: 0 30px;
}


/*Styling posts*/

.post {
    margin-bottom: 25px;
}

p.post-summary {
    font-size: 27px;
    line-height: 40px;
    height: 170px;
}

p.post-author {
    font-size: 36px;
}

p.post-title,
.footer-content .footer-column p.footer-header,
.pagination a {
    font-size: 64px;
}

p.post-category {
    font-size: 36px;
    margin-bottom: 23px;
    background-color: #9a1d0d;
    padding: 20px 20px 20px 24px;
    text-shadow: 3px 3px black;
}

p.post-date {
    font-size: 100px;
    line-height: 50px;
    margin-bottom: 40px;
}

.post-image-content,
.post-home-image {
    height: 360px;
}

html .post-full-image .post-image {
    width: 90%;
}

p.post-full-title {
    font-size: 90px;
}

p.tags-tags {
    padding: 20px 30px;
}

/*Styling credentials*/

.credentials {
    text-align: center;
    font-size: 18px;
    line-height: 64px;
}

.credentials-separator {
    display: none;
}

.credentials-br {
    display: block;
}

/*Styling post location*/

.post-location {
    display: none;
}

/*Styling navigation*/

nav.visible-navigation {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 20;
    background-color: #333;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 0;
}

nav.hidden-navigation {
    display: none;
}

nav.site-navigation>ul>li {
    display: block;
}

nav.site-navigation>ul>li>a {
    padding: 40px 20px 20px 40px;
    width: 300px;
    font-size: 54px;
}

nav.site-navigation>ul>li>ul.submenu {
    display: none;
    position: static;
}

nav.site-navigation>ul>li>ul.submenu {
    padding-left: 15%;
}

nav.site-navigation>ul>li>ul.submenu li {
    padding: 20px 0;
}

nav.site-navigation>ul>li>ul.submenu li>a {
    font-size: 54px;
}

.menu-lable {
    display: block;
}

.menu-lable:after {
    position: absolute;
    content: "\2261";
    font-size: 120px;
    top: -28px;
    left: 70px;
    color: #dcc08e;
}

.menu-checkbox {
	display: none;
}

.menu-checkbox:checked ~ nav.site-navigation {
    
}

.search_field {
	display: none;
}

.mobile-search {
    z-index: 20;
    display: inline-block;
    position: absolute;
    right: 100px;
    vertical-align: middle;
    height: 40px;
}

.mobile-search .mobile-search-icon {
    display: block;
    position: absolute;
    right: -32px;
    top: 10px;
    color: #dcc08e;
    background-image: url('../img/magnifierMobile.png');
    background-size: cover;
    width: 80px;
    height: 80px;
}

.mobile-search-icon:hover,
.mobile-search-icon:active {
	color: white;
}

.mobile-search-icon:hover ~ .mobile-search-field,
.mobile-search-icon:active ~ .mobile-search-field {
	display: inline-block;
}

.mobile-search-field {
    display: none;
    position: absolute;
    top: 0;
    font-size: 60px;
    background-color: #333;
    vertical-align: middle;
    padding: 16px;
    border-right: 3px solid #595959;
    border-bottom: 3px solid #595959;
    right: 50px;
    width: 600px;
}

/*Styling logo*/

#logo {
    width: 400px;
    height: 110px;
    margin-left: 20%;
}

#header-container {
    margin: 5% 5% 2% 5%;
}

/*Styling comment form*/

.comment-form {
    width: 100%;
}

p.comment-date {
    font-size: 54px;
    line-height: 20px;
    padding: 20px 8px 0 0;
}

.post-full-comments-content .comment-form textarea {
    width: 97%;
    font-size: 36px;
}

.post-full-comments-content .comment-form input {
    width: 70%;
    padding: 20px;
}

.post-full-comments-content .comment-form input,
.post-full-comments-content .comment-form textarea {
    font-size: 42px;
}

/*Styling sidebar*/
.post-sedebar {
    display: none;
}

/*Styling post on post page*/

.post-and-comments {
    width: 90%;
    margin-left: 5%;
}

button.reply-btn {
    padding: 30px;
    font-size: 27px;
}

p.post-summary {
    font-size: 27px;
    line-height: 40px;
}

.post-full-text {
    font-size: 16px;
    line-height: 50px;
}

html p.post-summary {
    height: 200px;
}

.related,
.tags,
.shared {
    display: none;
}

.post-full-attributes-contents {
    float: none;
    width: auto;
}

.post-full-image-content {
    width: 100%;
    height: 400px;
}

.tags-phone,
.share-phone {
    display: block;
}

.tags-phone {
    margin: 20px 0;
}

.share-phone {
    text-align: right;
    margin-top: 20px;
}

.share-phone img {
    width: 60px;
    margin: 10px; 
}

a.reply-btn {
    padding: 30px;
}

.comment-image-content {
    width: 120px;
    height: 120px;
}

.comment-image-image {
    width: 120px;
    height: 120px;
}

.comment-avatar-wrapper img {
    width: 120px;
}

.comment-text-wrapper {
    margin-left: 150px;
}

.post-full-image {
    width: 100%;
    height: 400px;
}

/*Styling posts results page*/
.post-results .post {
    width: 96%;
    margin: 2%;
}
.index-page-content-container .post-results div.doubleCol {
    width: 96%;
    margin: 2%;
}

.pagination_go_left a, .pagination_go_right a {
    font-size: 90px;
}

html .post-results {
    width: 100%;
}