html body {
    font-size: 36px !important;
}

/*Styling footer*/

.text-in-footer,
.footer-links {
    display: none;
}

.footer-content .footer-column {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer-header {
    text-align: center;
}


/*Styling pagination*/

.pagination {
    width: 62.4%;
}

.pagination a {
    padding: 0 20px;
}


/*Styling posts*/

.post {
    margin-bottom: 25px;
}

.post-image-content,
.post-home-image {
    height: 360px;
}

/*Styling credentials*/

.credentials {
    text-align: center;
    font-size: 0.75em;
}

.credentials-separator {
    display: none;
}


/*Styling post location*/

.post-location {
    display: none;
}

nav.site-navigation>ul>li {
    display: block;
}

/*Styling navigation*/

nav.site-navigation>ul>li>a {
    padding: .3em .3em .3em 1em;
    width: 7em;
}

nav.site-navigation>ul>li>ul.submenu {
    display: none;
    position: static;
}

nav.site-navigation>ul>li>ul.submenu {
    padding-left: 15%;
}

nav.site-navigation>ul>li>ul.submenu li {
    padding: 20px 0;
}

.menu-lable {
    display: block;
}

.menu-lable:after {
    position: absolute;
    content: "\2261";
    font-size: 3.5em;
    top: -0.2em;
    left: 0.25em;
    color: #dcc08e;
}

.menu-checkbox {
	display: none;
}

nav.site-navigation {
	display: none;
}

.menu-checkbox:checked ~ nav.site-navigation {
    display: block;
    position: absolute;
    top: -2.6em;
    left: 0;
    font-size: 1.5em;
    z-index: 20;
    background-color: #333;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 0;
}

.search_field {
	display: none;
}

.mobile-search {
	display: inline-block;
	position: absolute;
	right: 5em;
	vertical-align: middle;
	height: 2em;
}

.mobile-search .mobile-search-icon {
	display: inline-block;
	position: absolute;
	right: -0.8em;
	top: -0.2em;
	font-size: 4em;
	color: #dcc08e;
}

.mobile-search-icon:hover,
.mobile-search-icon:active {
	color: white;
}

.mobile-search-icon:hover ~ .mobile-search-field,
.mobile-search-icon:active ~ .mobile-search-field {
	display: inline-block;
}

.mobile-search-field {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	background-color: #333;
	width: 8em;
	vertical-align: middle;
	padding: 0.4em;
	border-right: 3px solid #595959;
    border-bottom: 3px solid #595959;
}

/*Styling logo*/

#logo {
    width: 14em;
    height: 3.7em;
    margin-left: 4.5em;
}

#header-container {
    margin: 4em 5% 2em 5%;
}

/*Styling comment form*/

.comment-form {
    width: 100%;
}

.post-full-comments-content .comment-form textarea {
    width: 97%;
    font-size: 36px;
}

.post-full-comments-content .comment-form input {
    width: 70%;
    font-size: 36px;
    padding: 20px;
}

/*Styling sidebar*/
.post-sedebar {
    display: none;
}

/*Styling post on post page*/

.post-and-comments {
    width: 90%;
    margin-left: 5%;
}

.post-full-text {
    font-size: 0.75em;
}

.related,
.tags,
.shared {
    display: none;
}

.post-full-attributes-contents {
    float: none;
    width: auto;
}

.post-full-image-content {
    width: 100%;
    height: 400px;
}

.tags-phone,
.share-phone {
    display: block;
}

.tags-phone {
    margin: 20px 0;
}

.share-phone {
    text-align: right;
    margin-top: 20px;
}

.share-phone img {
    width: 60px;
    margin: 10px; 
}

a.reply-btn {
    padding: 30px;
}

.comment-image-content {
    width: 120px;
    height: 120px;
}

.comment-image-image {
    width: 120px;
    height: 120px;
}

.comment-avatar-wrapper img {
    width: 120px;
}

.comment-text-wrapper {
    margin-left: 150px;
}

.post-full-image {
    width: 100%;
    height: 400px;
}

/*Styling posts results page*/
.post-results .post {
    width: 96%;
    margin: 2%;
}
.index-page-content-container .post-results div.doubleCol {
    width: 96%;
    margin: 2%;
}