html body {
	font-size: 20px;
}

/*Styling footer*/

.footer-content .footer-column {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-in-footer,
.footer-links {
    display: none;
}

.footer-header {
    text-align: center;
}

/*Styling pagination*/
.pagination {
    width: 80.5%;
}

.pagination a {
    padding: 0 12px;
}

/*Styling index page posts*/
.post {
    width: 44.5%;
    margin: 2.5%;
}

div.double-column {
    width: 94.8%;
}

.post-image-content {
    height: 240px;
}

/*Styling credentials*/
.credentials-br {
	display: none;
}

.footer .credentials {
    text-align: center;
    font-size: 0.75em;
}

.credentials-separator {
	display: inline-block;
}

/*Styling post location*/

.post-location {
    display: none;
}

/*Styling navigation*/

nav.site-navigation {
    display: none;
}

nav.site-navigation>ul>li>a {
    padding: .3em .3em .3em 1em;
    width: 7em;
}

nav.site-navigation>ul>li>ul.submenu {
    display: none;
    position: static;
}

nav.site-navigation>ul>li>ul.submenu {
    padding-left: 1em;
}

.menu-lable {
    display: block;
}

.menu-lable:after {
    position: absolute;
    content: "\2261";
    font-size: 3.5em;
    top: -0.2em;
    left: 0.8em;
    color: #dcc08e;
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ nav.site-navigation {
    display: block;
    position: absolute;
    top: -2.6em;
    left: 0;
    font-size: 1.5em;
    z-index: 20;
    background-color: #333;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 0;
}

.search_field {
    display: none;
}

.mobile-search {
    z-index: 20;
    display: inline-block;
    position: absolute;
    right: 5em;
    vertical-align: middle;
    height: 2em;
}

.mobile-search .mobile-search-icon {
    display: inline-block;
    position: absolute;
    right: -0.6em;
    top: -0.2em;
    font-size: 4em;
    color: #dcc08e;
}

.mobile-search-icon:hover,
.mobile-search-icon:active {
    color: white;
}

.mobile-search-icon:hover ~ .mobile-search-field,
.mobile-search-icon:active ~ .mobile-search-field {
    display: inline-block;
}

.mobile-search-field {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    background-color: #333;
    width: 8em;
    vertical-align: middle;
    padding: 0.4em;
    border-right: 3px solid #595959;
    border-bottom: 3px solid #595959;
}

.mobile-search-field {
    right: 2em;
    width: 7.5em;
}

/*Styling logo*/

#header-container {
    margin: 4em 5% 2em 5%;
}

#logo {
	margin-left: 6em;
    width: 14em;
    height: 3.7em;
}

/*Styling comment form*/

.comment-form {
    width: 100%;
}

.post-full-comments-content .comment-form textarea {
    width: 96%;
}

/*Styling sidebar*/
.post-sedebar {
    display: none;
}

/*Styling post on post page*/

.post-and-comments {
    width: 90%;
    margin-left: 5%;
}

.post-full-comments {
    margin-left: 0;
    width: 100%;
}

.post-full-text {
    font-size: 0.75em;
}

.related,
.tags,
.shared {
    display: block;
}

.post-full-attributes-contents {
    float: left;
    width: 196px;
}

.post-full-image-content {
    width: 186px;
    height: 186px;
}

.tags-phone,
.share-phone {
    display: none;
}

.share-contents img {
    width: 30px;
    margin: 0 5px;
}

.share-contents img:first-of-type {
    margin-left: 0;
}

a.reply-btn {
    padding: 20px;
}

.comment-image-content {
    width: 64px;
    height: 64px;
}

.comment-text-wrapper {
    margin-left: 90px;
}