html body {
	font-size: 20px;
}

/*Styling footer*/

.footer-content .footer-column {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.text-in-footer,
.footer-links {
    display: none;
}

.footer-header {
    text-align: center;
}

/*Styling pagination*/
.pagination {
    width: 77.2%;
}

.pagination a {
    padding: 0 12px;
}

/*Styling index page posts*/
.post {
    width: 44.5%;
    margin: 2.5%;
}

p.post-summary {
    font-size: 15px;
    line-height: 22px;
    height: 130px;
}

p.post-author {
    font-size: 20px;
}

p.post-title {
    font-size: 34px;
}

p.post-category {
    font-size: 27px;
    margin-bottom: 13px;
    background-color: #9a1d0d;
    padding: 11px 11px 11px 14px;
    text-shadow: 2px 2px black;
}

p.post-date {
    font-size: 56px;
    line-height: 28px;
    margin-bottom: 22.5px;
}

div.doubleCol {
    width: 94.8%;
}

.post-image-content,
.post-home-image {
    height: 240px;
}

/*Styling credentials*/
.credentials-br {
	display: none;
}

.footer .credentials {
    text-align: center;
    font-size: 15px;
}

.credentials-separator {
	display: inline-block;
}

/*Styling post location*/

.post-location {
    display: none;
}

/*Styling navigation*/

nav.site-navigation {
    display: none;
}

nav.site-navigation>ul>li>a {
    padding: 15px 6px 15px 20px;
    width: 274px;
}

nav.site-navigation>ul>li>a,
nav.site-navigation>ul>li>ul.submenu a {
    font-size: 38px;
}

nav.site-navigation>ul>li>ul.submenu {
    display: none;
    position: static;
}

nav.site-navigation>ul>li>ul.submenu {
    padding-left: 15%;
}
nav.site-navigation>ul>li>ul.submenu li {
    padding: 10px 0;
}

.menu-lable {
    display: block;
}

.menu-lable:after {
    position: absolute;
    content: "\2261";
    font-size: 90px;
    top: -24px;
    left: 56px;
    color: #dcc08e;
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ nav.site-navigation {
    display: block;
    position: absolute;
    top: -78px;
    left: 0;
    font-size: 30px;
    z-index: 20;
    background-color: #333;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 0;
    width: 300px;
}

.search_field {
    display: none;
}

.mobile-search {
    z-index: 20;
    display: inline-block;
    position: absolute;
    right: 100px;
    vertical-align: middle;
    height: 40px;
}

.mobile-search .mobile-search-icon {
    display: inline-block;
    position: absolute;
    right: -32px;
    top: -16px;
    font-size: 80px;
    color: #dcc08e;
}

.mobile-search-icon:hover,
.mobile-search-icon:active {
    color: white;
}

.mobile-search-icon:hover ~ .mobile-search-field,
.mobile-search-icon:active ~ .mobile-search-field {
    display: inline-block;
}

.mobile-search-field {
    display: none;
    position: absolute;
    top: 0;
    font-size: 40px;
    background-color: #333;
    vertical-align: middle;
    padding: 16px;
    border-right: 3px solid #595959;
    border-bottom: 3px solid #595959;
    right: 40px;
    width: 300px;
}

/*Styling logo*/

#header-container {
    margin: 60px 5% 40px 5%;
}

#logo {
	margin-left: 120px;
    width: 280px;
    height: 74px;
}

/*Styling comment form*/

.comment-form {
    width: 100%;
}

.comment-form input,
.comment-form textarea {
    font-size: 26px;
}

.post-full-comments-content .comment-form textarea {
    width: 96%;
}

/*Styling sidebar*/
.post-sedebar {
    display: none;
}

/*Styling post on post page*/

.post-and-comments {
    width: 90%;
    margin-left: 5%;
}

.post-full-comments {
    margin-left: 0;
    width: 100%;
}

p.post-full-title {
    font-size: 38px;
}

p.post-full-author {
    font-size: 20px;
}

p.post-full-text {
    line-height: 18px;
    font-size: 12px;
}

.related,
.tags,
.shared {
    display: block;
}

.post-full-attributes-contents {
    float: left;
    width: 196px;
}

.post-full-image-content {
    width: 186px;
    height: 186px;
}

.post-full-attributes-contents h4 {
    font-size: 32px;
}

p.tags-tags {
    font-size: 20px;
}

.related-contents li a {
    font-size: 20px;
}

.tags-phone,
.share-phone {
    display: none;
}

.share-contents img {
    width: 30px;
    margin: 0 5px;
}

.share-contents img:first-of-type {
    margin-left: 0;
}

button.reply-btn {
    padding: 20px;
    font-size: 20px;
}

p.comment-author {
    font-size: 32px;
}

p.comment-text {
    font-size: 20px;
    line-height: 30px;
}

p.comment-date {
    font-size: 32px;
    line-height: 14px;
    padding: 13px 5px 0 0;
}

.comment-image-content {
    width: 64px;
    height: 64px;
}

.comment-image-image {
    width: 64px;
    height: 64px;
}

.comment-text-wrapper {
    margin-left: 90px;
}

.post-full-image {
    width: 186px;
    height: 186px;
}

/*Styling posts results page*/
.post-results .post {
    width: 47.4%;
    margin: 1%;
}
.index-page-content-container .post-results div.doubleCol {
    width: 96.7%;
    margin: 1%;
}

html body .post-results {
    width: 100%;
}

.footer-content .footer-column p.footer-header,
.pagination a {
    font-size: 38px;
}

.pagination_go_left a,
.pagination_go_right a {
    font-size: 64px;
}