<!DOCTYPE html>
<html>

<head>
    <title>The Syle</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 320px) and (max-device-width: 599px)" href="./css/phonesCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 600px) and (max-device-width: 899px)" href="./css/tabletsCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 900px) and (max-device-width: 1259px)" href="./css/compsCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 1260px)" href="./css/widesCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 1260px) and (max-width: 1259px)" href="./css/compsCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 1260px) and (max-width: 899px)" href="./css/tabletsCss.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 1260px) and (max-width: 599px)" href="./css/phonesCss.css">
</head>

<body ng-app="theStyleApp" ng-cloak>
    <header id="header-container">
        <span id="logo"></span>
        <div class="mobile-search">
            <a class="mobile-search-icon" href="#">
                     &#9906;   
            </a>
            <input type="text" class="mobile-search-field" name="mobileSearch" value="" placeholder="Search">
        </div>
        <input type="checkbox" class="menu-checkbox" id="menu">
        <label for="menu" class="menu-lable" onclick></label>
        <nav class="site-navigation">
            <ul>
                <li>
                    <a href="#/">home</a>
                </li>
                <li>
                    <a class="rootMenu">entertainment</a>
                    <ul class="submenu">
                        <li><a href="#/category/cinema?page=1"><span class="bullet">&raquo;&nbsp;</span>cinema</a></li>
                        <li><a href="#/category/concerts?page=1"><span class="bullet">&raquo;&nbsp;</span>concerts</a></li>
                        <li><a href="#/category/pubs?page=1"><span class="bullet">&raquo;&nbsp;</span>pubs</a></li>
                        <li><a href="#/category/museums?page=1"><span class="bullet">&raquo;&nbsp;</span>museums</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">fasion</a>
                    <ul class="submenu">
                        <li><a href="#/category/skinnypeople?page=1"><span class="bullet">&raquo;&nbsp;</span>skinny people</a></li>
                        <li><a href="#/category/badfood?page=1"><span class="bullet">&raquo;&nbsp;</span>bad food</a></li>
                        <li><a href="#/category/pernikstyle?page=1"><span class="bullet">&raquo;&nbsp;</span>pernik style</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">politics</a>
                    <ul class="submenu">
                        <li><a href="#/category/boring?page=1"><span class="bullet">&raquo;&nbsp;</span>boring</a></li>
                        <li><a href="#/category/hate?page=1"><span class="bullet">&raquo;&nbsp;</span>hate</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">technology</a>
                    <ul class="submenu">
                        <li><a href="#/category/gotojapan?page=1"><span class="bullet">&raquo;&nbsp;</span>go to japan</a></li>
                        <li><a href="#/category/space?page=1"><span class="bullet">&raquo;&nbsp;</span>space adventures</a></li>
                        <li><a href="#/category/machines?page=1"><span class="bullet">&raquo;&nbsp;</span>machines</a></li>
                        <li><a href="#/category/medicine?page=1"><span class="bullet">&raquo;&nbsp;</span>medicine</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">automotive</a>
                    <ul class="submenu">
                        <li><a href="#/category/cars?page=1"><span class="bullet">&raquo;&nbsp;</span>cars</a></li>
                        <li><a href="#/category/bycicles?page=1"><span class="bullet">&raquo;&nbsp;</span>bycicles</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">education</a>
                    <ul class="submenu">
                        <li><a href="#/category/formaleducation?page=1"><span class="bullet">&raquo;&nbsp;</span>formal education</a></li>
                        <li><a href="#/category/trainings?page=1"><span class="bullet">&raquo;&nbsp;</span>trainings</a></li>
                        <li><a href="#/category/children?page=1"><span class="bullet">&raquo;&nbsp;</span>children</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">sport</a>
                    <ul class="submenu">
                        <li><a href="#/category/volleyball?page=1"><span class="bullet">&raquo;&nbsp;</span>volleyball</a></li>
                        <li><a href="#/category/football?page=1"><span class="bullet">&raquo;&nbsp;</span>football</a></li>
                        <li><a href="#/category/hokey?page=1"><span class="bullet">&raquo;&nbsp;</span>hokey</a></li>
                        <li><a href="#/category/ski?page=1"><span class="bullet">&raquo;&nbsp;</span>ski</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">computing</a>
                    <ul class="submenu">
                        <li><a href="#/category/hardware?page=1"><span class="bullet">&raquo;&nbsp;</span>hardware</a></li>
                        <li><a href="#/category/software?page=1"><span class="bullet">&raquo;&nbsp;</span>software</a></li>
                        <li><a href="#/category/middleware?page=1"><span class="bullet">&raquo;&nbsp;</span>middleware</a></li>
                    </ul>
                </li>
                <li>
                    <a class="rootMenu">home and garden
                        <ul class="submenu">
                            <li><a href="#/category/furniture?page=1"><span class="bullet">&raquo;&nbsp;</span>furniture</a></li>
                            <li><a href="#/category/electronics?page=1"><span class="bullet">&raquo;&nbsp;</span>electronics</a></li>
                            <li><a href="#/category/bashmaistor?page=1"><span class="bullet">&raquo;&nbsp;</span>Bash maistor</a></li>
                            <li><a href="#/category/flowers?page=1"><span class="bullet">&raquo;&nbsp;</span>flowers</a></li>
                            <li><a href="#/category/horticulture?page=1"><span class="bullet">&raquo;&nbsp;</span>horticulture</a></li>
                            <li><a href="#/category/trees?page=1"><span class="bullet">&raquo;&nbsp;</span>trees</a></li>
                        </ul>
                    </a>
                </li>
            </ul>
            <div class="search_field">
                <input type="text" name="searchInput" placeholder="Search this website..." />
                <button type="submit"><img src="./img/magnifier.png" alt="Search" /></button>
            </div>
        </nav>
    </header>
    <div ng-view>
    </div>
    <footer class="footer" ng-controller="FooterController">
        <div class="footer-content">
            <div class="footer-column">
                <a href="#/">
                    <p class="footer-header">RECENT POSTS</p>
                </a>
                <ul class="footer-links">
                    <li ng-repeat="post in latestSevenPosts">
                        <a href="#/posts/{{post._id}}">
                            <span class="bullet">&raquo; &nbsp;</span> {{post.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <a>
                    <p id="customText" class="footer-header">CUSTOM TEXT</p>
                </a>
                <p class="text-in-footer">Donec aliquam ligula maximus felis hendrerit dignissim. Fusce at finibus arcu, sit amet malesuada magna. Suspendisse potenti. Vivamus pretium tempor porta. Vivamus consequat efficitur pulvinar. Maecenas lacinia tortor at neque malesuada placerat. Donec non nulla cursus, blandit turpis vel, semper ex. Sed egestas finibus accumsan. Duis consectetur, ipsum at consequat vehicula, mi leo suscipit turpis, sed lobortis turpis urna eu sem. Praesent posuere rhoncus eleifend. Sed vitae consectetur est, nec molestie risus. </p>
            </div>
            <div class="footer-column">
                <a href="#/results/lastcommented?page=1">
                    <p class="footer-header">RECENT COMMENTS</p>
                </a>
                <ul class="footer-links">
                    <li ng-repeat="post in latestCommented">
                        <a href="#/posts/{{post._id}}">
                            <span class="bullet">&raquo; &nbsp;</span> {{post.title}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-column" id="last_footer">
                <a href="#/results/lastarchived?page=1">
                    <p class="footer-header">ARCHIVES</p>
                </a>
                <ul class="footer-links">
                    <li ng-repeat="post in latestArchived">
                        <a href="#/posts/{{post._id}}">
                            <span class="bullet">&raquo; &nbsp;</span> {{post.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="credentials">
            Designed by <a href="#">ElegnatThemes</a>
            <br class="credentials-br" /><span class="credentials-separator">| </span>Powered by <a href="http://telerikacademy.com/">Telerik Academy</a>
        </p>
    </footer>
    <!-- Import libraries -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Import angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
    <!-- Import app -->
    <script src="app.js"></script>
    <!-- Import controllers -->
    <script src="controllers/home-controller.js"></script>
    <script src="controllers/footer-controller.js"></script>
    <script src="controllers/post-controller.js"></script>
    <script src="controllers/category-controller.js"></script>
    <script src="controllers/results-controller.js"></script>
    <!--     <script src="controllers/login-controller.js"></script>
    <script src="controllers/register-controller.js"></script>
    <script src="controllers/projects-controller.js"></script>
    <script src="controllers/project-details-controller.js"></script>
    <script src="controllers/create-project-controller.js"></script>
    <script src="controllers/create-commit-controller.js"></script> -->
    <!-- Import services -->
    <script src="services/data-service.js"></script>
    <script src="services/posts-service.js"></script>
    <!-- Import directives -->
    <!--     <script src="directives/projects-directive.js"></script>
    <script src="directives/commits-directive.js"></script> -->
    

    <script type="text/javascript">
        $(document).ready(function(){
            $('#customText').on('click', function() {
                $('.text-in-footer').css('display', 'block');
            });
        });
    </script>
</body>

</html>
